# Language detection override
*.py linguist-language=Python
backend/* linguist-language=Python
backend/** linguist-language=Python
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
